@import url("https://fonts.googleapis.com/css2?family=Baloo+chettan+2&family=Iceand&display=swap");
@property --rotate
{
    syntax:"<angle>";
    initial-value:132deg;
    inherits:false;
}
:root{
    --card-height:65vh;
    --card-width: calc(var(--card-height)/1.5);
}
body{
    min-height: 100vh;
    background: #212534;
display:flex;
align-items: center;
justify-content: center;
}
.card
{
    background: #191c29;
    width:var(--card-width);
    height: var(--card-height);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
    border-radius: 6px;
    font-size: 1.5em;
    color:rgb(88 199 250 / 0%);
    cursor: pointer;
}
.card::before
{
    content: "";
    width:104%;
    height: 102%;
    border-radius:8px;
    background-image: linear-gradient(var(--rotate),#5ddcff, #3c67e3 43%,#4e00c2);
position: absolute;
z-index: -1;
top: -1px;
left: -2%;
animation:spin 2.5s linear infinite;
}
.card::after{
    position: absolute;
    content: "";
    top:calc(var(--card-height)/6);
    left:0;
    right:0;
    z-index: -1;
    height:100%;
    width:100%;
    margin:0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height)/6));
    background-image: linear-gradient(var(--rotate),#5ddcff, #3c67e3 43%,#4e00c2);
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}
@keyframes spin{
    0%{
        --rotate:0deg;
    }
    100%{
        --rotate: 360deg;
    }
}
.card p:nth-child(1)
{
    word-break:break-all;
    font-size:12px;
    color: #fff;
    font-family: "Baloo  Chettan 2", cursive;
}
.card:hover p:nth-child(1)
{
    animation: glow 1.5s ease-in-out infinite alternate;
}
@keyframes glow
{
    from
    {
        text-shadow: 0px 0px 5px #fff.0px 0px 5px #614ad3;
    }
    to
    {
        text-shadow: 0px 0px 20px #fff,0px 0px 20px #614ad3;
    };
}
